<div class="wrapper">
	<div class="container-fluid">
		<div id="header">
			<h1>Hack@bvp</h1>
			<p class="font-weight-bold">10th and 11th August 2017</p>
			<!-- <button type="button" class="btn btn-default" id="header-btn">Register Here</button> -->
			<%= render 'form' %>
		</div>
		<main>
			<header>
				<nav class="navbar navbar-default navbar-static-top center-block" id="nav-top">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header" id="mobile-nav">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#about">About <span class="sr-only">(current)</span></a></li>
				        <li><a href="#rules">Rules</a></li>
				        <!-- <li><a href="#sponsors">Sponsors</a></li> -->
				        <li><a href="#developers">Developers</a></li>
				        <li><a href="#map">Map</a></li>
				        <li><a href="#my-modal" class="btn" data-toggle="modal" data-target="#m">Contact</a></li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</header>

			<div class="modal fade" id="m" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Contact</h4>
			      </div>
			      <div class="modal-body">
			      	<table class="table borderless">

						<tr>
							<td>Phone</td>
							<td>+91-999999999</td>
						</tr>

						<tr>
							<td>Email</td>
							<td>abc123@gmail.com</td>
						</tr>

					</table>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="card" id="about">
				<span>
					<h1>About hack@bvp</h1>
					<p>Welcome to the most anticipated event of bvest, HACK@BVP.It is a flagship event of BVCOE's Bvest. Prizes worth 30K+ awaits you in the 24 hour long contest.</p>
					<!-- <a class="btn btn-default btn-lg" href="#" role="button">PlayStore</a> -->
				</span>
				<span>
					<%= image_tag asset_path("final1.png") %>
				</span>
			</div>

			<div class="card" id="rules">
				<span>
					<h1>Rules</h1>

					<div class="rules-list" style="width:70%; margin: 0 auto;">
						<ul style="list-style: none;">
							<li>
								<h3><b>Team Size</b></h3>
								<p>At max 5 members in a team. Lone are welcome too.</p>
							</li>

							<li>
								<h3><b>Problem Statement</b></h3>
								 <p>Problem statements will be given on the spot. A broad idea will be provided though. Everyone starts coding at the same time and no one should come in and build on top of their existing projects.</p>
							</li>

							<li>
								<h3><b>Team Size</b></h3>
								<p>At max 4 members in a team. Lone wolves are welcome too, we might team you up during the hackathon.</p>
							</li>

							<li>
								<h3><b>Equipment</b></h3>
								<p>Participants have to bring their own laptops. Extension cords will be provided.</p>
							</li>

						</ul>
					</div>

					<div class="container">
					    <ul class="timeline">
					        <li>
					          <div class="timeline-badge danger"></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Request Demo</h4>
					              <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
					            </div>
					            <div class="timeline-body">
					              <p>You can request a demo by clicking the link
					              	given below.</p>
					            </div>
					            <a type="button" class="btn btn-primary" aria-expanded="false" href="#contact" style="margin-top: 16px">Request Demo</a>
					          </div>
					        </li>
					        <li class="timeline-inverted">
					          <div class="timeline-badge danger"></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Trial</h4>
					            </div>
					            <div class="timeline-body">
					              <p>We give 14 days of free trial</p>
					            </div>
					          </div>
					        </li>
					        <li>
					          <div class="timeline-badge danger"></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Subscribe</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Monthly subscription to unlock the full potential of the software.</p>
					            </div>
					          </div>
					        </li>
					        <!-- <li class="timeline-inverted">
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					            </div>
					          </div>
					        </li>
					        <li>
					          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					              <hr>
					              <div class="btn-group">
					                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
					                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
					                </button>
					                <ul class="dropdown-menu" role="menu">
					                  <li><a href="#">Action</a></li>
					                  <li><a href="#">Another action</a></li>
					                  <li><a href="#">Something else here</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Separated link</a></li>
					                </ul>
					              </div>
					            </div>
					          </div>
					        </li>
					        <li>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					            </div>
					          </div>
					        </li>
					        <li class="timeline-inverted">
					          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					            </div>
					          </div>
					        </li> -->
					    </ul>
					</div>

				</span>
			</div>

<!-- 			<div class="card" id="sponsors">
			</div>	 -->

			<div class="card" id="developers">
				<span>
					<h1>Developers</h1>
					<span id="developers-inner-span">
						
						<div class="developers-card">
							<span>
								<%= image_tag asset_path("blank.jpg"),:class=>"img-circle" %>
							</span>
							<h3>Vidit Chitkara</h3>
							<p align="center">chitkara.vidit@gmail.com</p>
						</div>						

						<div class="developers-card">
							<span>
								<%= image_tag asset_path("blank.jpg"),:class=>"img-circle" %>
							</span>
							<h3>Naman Gupta</h3>
							<p align="center">01namangupta@gmail.com</p>
						</div>

						<div class="developers-card">
							<span>
								<%= image_tag asset_path("blank.jpg"),:class=>"img-circle" %>
							</span>
							<h3>Siddhant Bajaj</h3>
							<p align="center">sbajaj1997@gmail.com</p>
						</div>

					</span>
				</span>
			</div>


		</main>

	</div>
</div>
<%= render 'google_map' %>
