<div class="wrapper">
	<div class="container-fluid">
		<div id="header">
			<div id="header-img"><%= image_tag asset_path("final1.png"),:class=>"img-circle" %></div>
			<h1>Hack@bvp</h1>
			<p class="font-weight-bold">10th and 11th August 2017</p>
			<!-- <button type="button" class="btn btn-default" id="header-btn">Register Here</button> -->
			<a class="typeform-share button" href="https://hackbvp.typeform.com/to/cqDFdZ" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#46484e;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:6px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Register Here </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
		</div>
		<main>
			<header>
				<nav class="navbar navbar-default navbar-static-top center-block" id="nav-top">
				  <div class="container-fluid">
				    <!-- Brand and toggle get grouped for better mobile display -->
				    <div class="navbar-header" id="mobile-nav">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				    </div>

				    <!-- Collect the nav links, forms, and other content for toggling -->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li class="active"><a href="#about">About <span class="sr-only">(current)</span></a></li>
				        <li><a href="#rules">Rules</a></li>
				        <li><a href="#timeline">Timeline</a></li>
				        <li><a href="#sponsors">Sponsors</a></li>
				        <li><a href="#developers">Developers</a></li>
				        <li><a href="#map">Map</a></li>
				        <li><a href="#my-modal" class="btn" data-toggle="modal" data-target="#m">Contact</a></li>
				      </ul>
				    </div><!-- /.navbar-collapse -->
				  </div><!-- /.container-fluid -->
				</nav>
			</header>

			<div class="modal fade" id="m" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title">Contact</h4>
			      </div>
			      <div class="modal-body">
			      	<table class="table borderless">

			      		<tr>
			      			<td>Name</td>
							<td>Sajal Kaushik</td>
			      		</tr>

						<tr>
							<td>Phone</td>
							<td>+91-9910140984</td>
						</tr>

						<tr>
							<td>Email</td>
							<td>hackatbvp@gmail.com</td>
						</tr>

					</table>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="card" id="about">
				<span>
					<h1>About hack@bvp</h1>
					<p>Welcome to the most anticipated event of bvest, HACK@BVP.It is a flagship event of BVCOE's Bvest. Prizes worth 30K+ awaits you in the 24 hour long contest.</p>
					<!-- <a class="btn btn-default btn-lg" href="#" role="button">PlayStore</a> -->
				</span>
				<span>
					<%= image_tag asset_path("final1.png") %>
				</span>
			</div>

			<div class="card" id="rules">
				<span>
					<h1>Rules</h1>

					<div class="rules-list">
						<ul style="list-style: none;">
							<li>
								<h3><b>Team Size</b></h3>
								<p>At max 5 members in a team. Lone wolves are welcome too.</p>
							</li>

							<li>
								<h3><b>Problem Statement</b></h3>
								 <p>Problem statements will be given on the spot. A broad idea will be provided though. Everyone starts coding at the same time and no one should come in and build on top of their existing projects.</p>
							</li>

							<li>
								<h3><b>Equipment</b></h3>
								<p>Participants have to bring their own laptops. Extension cords will be provided.</p>
							</li>

						</ul>
					</div>
					        <!-- <li class="timeline-inverted">
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					            </div>
					          </div>
					        </li>
					        <li>
					          <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					              <hr>
					              <div class="btn-group">
					                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
					                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
					                </button>
					                <ul class="dropdown-menu" role="menu">
					                  <li><a href="#">Action</a></li>
					                  <li><a href="#">Another action</a></li>
					                  <li><a href="#">Something else here</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Separated link</a></li>
					                </ul>
					              </div>
					            </div>
					          </div>
					        </li>
					        <li>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					            </div>
					          </div>
					        </li>
					        <li class="timeline-inverted">
					          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
					          <div class="timeline-panel">
					            <div class="timeline-heading">
					              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
					            </div>
					            <div class="timeline-body">
					              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra l치 , depois divoltis porris, paradis.</p>
					            </div>
					          </div>
					        </li> -->
				</span>
			</div>

<!-- 			<div class="card" id="sponsors">
			</div>	 -->
			<div class="card" id="timeline">
				<span>
					<h1>Timeline</h1>
					<div class="container">
						    <ul class="timeline">
						        <li>
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">Registration begins</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 8:00 AM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>In front of A-Block</p>
						            </div>
						          </div>
						        </li>
						        <li class="timeline-inverted">
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">Welcome to Hack@BVP</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 9:00 AM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>Hacking Begins.</p>
						            </div>
						          </div>
						        </li>
						        <li>
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">Lunch</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1:00 PM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>Food is on us. :)</p>
						            </div>
						          </div>
						        </li>
						        <li class="timeline-inverted">
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">First Review</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 5:00 PM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>Only selected teams will proceed further.</p>
						            </div>
						          </div>
						        </li>
						        <li>
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">Dinner</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 8:00 PM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>Yes we know, everyone code for food!</p>
						            </div>
						          </div>
						        </li>
						        <li class="timeline-inverted">
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">Snacks and Coding</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 00:00 AM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>Time for some refreshments.</p>
						            </div>
						          </div>
						        </li>

						        <li>
						          <div class="timeline-badge danger"></div>
						          <div class="timeline-panel">
						            <div class="timeline-heading">
						              <h4 class="timeline-title">Final Review</h4>
						              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 9:00 AM</small></p>
						            </div>
						            <div class="timeline-body">
						              <p>Winner announcement and prize distribution.</p>
						            </div>
						          </div>
						        </li>

						    </ul>
					</div>
				</span>
			</div>

			<div class="card" id="sponsors">
				<span>
					<h1>Sponsors</h1>
					<span>
						<%= image_tag asset_path("cb.png"), style: "width: 90%" %>
					</span>
					<div class="sponsor-info">
						<p>
							To sponsor us contact: <strong><b>Hackatbvp@gmail.com</b></strong>
						</p>
					</div>
				</span>
			</div>

			<div class="card" id="developers">
				<span>
					<h1>Developers</h1>
					<span id="developers-inner-span">

						<div class="developers-card">
							<span>
								<%= image_tag 'https://scontent.fdel8-1.fna.fbcdn.net/v/t1.0-9/12804738_239366149736643_7030359026976935372_n.jpg?oh=02a30e75f73731a33e86cc78b47349fb&oe=5A56C75E',:class=>"img-circle" %>
							</span>
							<h3>Vidit Chitkara</h3>
							<p align="center">chitkara.vidit@gmail.com</p>
						</div>

						<div class="developers-card">
							<span>
								<%= image_tag 'https://scontent.fdel8-1.fna.fbcdn.net/v/t1.0-1/p160x160/20476536_1428675060541708_4434298935313132245_n.jpg?oh=a64278b0e1fe3da6a4c870fd4628a8f6&oe=5A46A5EC',:class=>"img-circle" %>
							</span>
							<h3>Naman Gupta</h3>
							<p align="center">01namangupta@gmail.com</p>
						</div>

						<div class="developers-card">
							<span>
								<%= image_tag 'https://scontent.fdel8-1.fna.fbcdn.net/v/t1.0-1/p160x160/12234880_988622284536596_2505211453751756199_n.jpg?oh=39adf5010014d14812843965faf9e47d&oe=5A5031A6',:class=>"img-circle" %>
							</span>
							<h3>Siddhant Bajaj</h3>
							<p align="center">sbajaj1997@gmail.com</p>
						</div>

					</span>
				</span>
			</div>


		</main>
		<%= render 'google_map' %>
	</div>
</div>
